$z-index: (
  example: 100,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z($key) {
  z-index: z-index($key);
}

// usage example

// .navigation {
//   @include z(example);
// }