<!DOCTYPE HTML>
<html lang="{{ currentSite.language }}" dir="{{craft.app.i18n.getLocaleById(currentSite.id).getOrientation()}}">
<head>

<!-- Template created by Piotr Pogorzelski - craftsnippets.com -->

{% include '_system/seo' %}
{% include '_system/meta' %}
{% include '_system/favicons' %}
{% include '_system/fonts' %}
{% include '_system/static' %}
{% block head %}{% endblock %}

</head>

<body class="{{body_class ?? null}} {{craft.app.request.isMobileBrowser() ? 'is-mobile' : 'is-desktop'}}">

{% include '_components/quick_edit' %}
{% block layout %}{% endblock %}
{% block endBody %}{% endblock %}

</body>
</html>